/*CSS Hópverkefni*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section,header{
	text-align: center;
}
header{
	background: orange;
}
p{
	font-size: 20px;
}
.vidd{
	width: 60%;
}
