@font-face { font-family: "Overwatch"; 
			src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff'); 
			}

.overwatch{
	font-family: "Overwatch";
	color:darkorange;
		}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}





section,header,div{
	text-align: center;
}

header{
	background: whitesmoke;
}



h2{
	font-family:"Overwatch";
	font-size:2em;
	margin-top:0em;
}

.whitetext{
	color:grey;
}

.white{
	background:white;
	margin-top:0em;
}

.whiteashell{
	background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,255,255,1));
	margin-top:0em;	
	text-align:center;
		}

h1{
	font-size:5em;
	margin-bottom:0em;
}

.trythis{
background: rgba(255,0,0,0);
}

.nothingness{
	margin-top:10em;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color:darkgrey;
  text-align: center;
  padding-bottom:0.1em;
  padding-top:0.1em;
}


body{
	background-image: url("bg/hanamura.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0em;
}
